* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	@include fontSize(16px);
	font-weight: 300;
	color: $default-color;
	font-family: 'Open Sans', arial, sans-serif;
}

input {
	@include fontSize(16px);
	font-weight: 300;
	color: $default-color;
	font-family: 'Open Sans', arial, sans-serif;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.title {
	margin-bottom: 40px;
	@include fontSize(22px);
    font-weight: 600;
    text-transform: uppercase;
}

main {
	margin: 50px 0;
}

