body {
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.img-container {
	height: 450px;
}

ul {
	margin-left: 25px;
}

ul li {
	line-height: 22px;
}

nav button {
	width: 110px;
	height: 50px;
	border: none;
	border-radius: 10%;
	color: white;
	text-transform: uppercase;
	background-color: #62b5e5;
}

nav button:first-child {
	margin-left: 140px;
}