* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	@include fontSize(16px);
	font-weight: 300;
	color: $defaultColor;
	font-family: 'Open Sans', arial, sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}



