// Convert font size in Px to REM - std 16 Px
@function calculatePxToRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

//Set both Px and REM font size to element
@mixin fontSize($size) {
	font-size: $size;
	font-size: calculatePxToRem($size);
}