#landing-section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-transform: capitalize;

	a {
		color: $linkColor;

		&:hover {
			color: #000000;
		}
	}

	h1, h2 {
		font-weight: bold;
	}

	#categories {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	h1 {
		margin-top: 50px;
		margin-bottom: 50px;
		text-transform: uppercase;
	}

	#movies-wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		article {
			// flex-basis 25% pour que chaque article prenne 25% de la place dans le conteneur => 4 posters/ligne
			flex-basis: 25%;

			position: relative;
			margin-bottom: 50px;

			.poster {
				// Display inline-block le lien pour qu'il prenne toute la place du poster
				display: inline-block;
			}

			.viewers {
				position: absolute;
				bottom: 17%;
				right: 43%;
				width: 70px;
				padding: 2px;
				text-align: center;
				background-color: #ffb10a;
				color: #ffffff;
				border-radius: 15px;
			}
		}
	}
}